/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Bruno Ace SC",sans-serif;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 128px;
    color: #00FFA3;
}
h2{
    font-size: 64px;
}
.nav{
    background: #000;
}
.container{
    width: 1296px;
    margin: 0 auto;
}
.nav ul{
    justify-content:space-between;
}
.nav a{
    display: block;
    color: #fff;
    padding-top: 52px;
    padding-bottom: 52px;
}
.header{
    background: #000;
    padding-top: 72px;
    padding-bottom: 32px;
}
.header .container{
    justify-content: space-between;
    align-items: center;
}
.header_img{
    width:636px;
}
.header_txt{
    width: 636px;
    flex-direction: column;
    align-items: flex-end;
}
.header_txt p{
    font-size: 64px;
    color: #fff;
}
.button{
    width: 185px;
    border-radius: 32px;
    background:  #fff;
}
.button a{
    color: #000;
    display: flex;
    padding:12px;
    justify-content: center;
    align-items: center;
}
.header .icon{
    display: block;
    width: 24px;
    height: 24px;
}

.banner{
    height: 920px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true
    );
    padding-top: 160px;
    padding-bottom: 160px;
}
.banner_txt{
    width: 526px;
    }
.banner_txt h2,.banner_txt p{
    color: #fff;
}
.txt_img{
    width: 128px;
    height: 98px;
}
.banner_txt p{
    font-size: 24px;
    padding-top: 36px;
    padding-bottom: 32px;
}
.banner_img{
    width: 746px;
    justify-content: space-between;
}
.about{
    padding-top: 160px;
    padding-bottom:160px;
}
.about .container{
    justify-content: space-between;
    align-items: center;
}

.about_list ul{
    width: 636px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: -12px;
}
.about_list li{
    width: 318px;
    padding: 12px;
}
.about_list span,.about_list h3{
    font-size: 20px;
}
.about_list h3{
    margin-top: 4px;
    margin-bottom: 4px;
}
.coulom{
    padding:16px;
    border:1px solid #E3E3E3;
    height: 100%;
}
.about_txt{
    width: 526px;
}
.about_txt h2{
    margin-bottom: 36px;
}
.about_txt p{
    font-size: 24px;
    
}
.contact{
    background: #000;
    padding-top: 96px;
    padding-bottom: 96px;
}
.contact .container{
    justify-content: space-between;
}
.contact_txt{
    justify-content: space-between;
    align-items: center;
    gap:0 16px;
}
.contact_txt h2{
    color: #fff;
}
.contact span{
    display: block;
    width: 100px;
    height: 100px;
}
.contact span svg{
    color: #fff;
    width: 100%;
    height: 100%;
} 
.contact ul{
    justify-content: space-between;
    gap:0 20px;
}
.contact li a{
    display: block;
    width: 162px;
    height: 162px;
}
.projects{
    padding-top: 160px;
    padding-bottom: 160px;
}
.projects h2{
    padding-left: 550px;
}
.projects_pictxt{
    gap:24px;
}
.projects_pictxt .img img{
    height: 100%;
}
.pictxt_box{
    flex-direction: column;
    gap: 28px;
}

.projects_pic {
    gap: 24px;
}
.projects_txt{
    flex-direction: column;
    justify-content: space-between;
}
.projects_img{
    gap:24px;
}
.projects_img img{
    height: 100%;
}

.projects_txt .button{
    width: 185px;
    border-radius: 32px;
    background:  #000;
}
.projects_txt .button a{
    color: #fff;
    display:flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
.projects_txt .icon{
    width: 24px;
    height: 24px;
}
.footer{
    background: #000;
}
.footer p{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}












